.spotlight-card-section {
  margin-top: 100px;

  margin-bottom: 100px;
}
.flip-card {
  background-color: transparent;
  width: 421px;
  height: 614px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner img {
  width: 421px;
  height: 614px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 421px;
  height: 614px;
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  width: 421px;
  height: 614px;
}

/*
@media (max-width: 768px) {
  .spotlight-card-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .flip-card {
    width: 421px;
    height: 614px;
  }
  .flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-inner img {
    width: 421px;
    height: 614px;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 421px;
    height: 614px;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    width: 421px;
    height: 614px;
  }
}
*/

@media (max-width: 768px) {
  .spotlight-card-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .flip-card {
    width: 336.8px;
    height: 491.2px;
  }
  .flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-inner img {
    width: 336.8px;
    height: 491.2px;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 336.8px;
    height: 491.2px;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    width: 336.8px;
    height: 491.2px;
  }
}
